body{
    margin: 0;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

span{
    background-image: url(hea-removebg-preview.webp);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
    width: 100px;
    pointer-events: none;
    background-size: cover;
    animation: animate 6s linear;
    opacity: 0;
   
}

@keyframes animate {
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0);
       
       
    }
    100%{
        transform: translate(-50%,-5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
     
    }
}
